footer.stickyfooter
    .container
        .row.footertekst
            .col-md-4
                p © SocialCoin / ISE-Projectgroep9
            .col-md-4
                ul.footeropsomming
                    li
                        strong Over SocialCoin
                    li
                        a(href='http://socialcoin.nl', target='_blank') SocialCoin
                    li
                        a(href='http://socialcoin.nl', target='_blank') Doel
            .col-md-4
                ul.footeropsomming
                    li
                        strong Over ISE-Projectgroep 9
                    li
                        a(href='http://socialcoin.nl', target='_blank') De Projectgroep
                    li
                        a(href='http://socialcoin.nl', target='_blank') De Projectgroep
