extends ../../node_modules/pug-bootstrap/_bootstrap.pug

block body

    #wrap
        nav.navbar.navbar-default
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed.menuweg(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                        img.navar-brand-logo(alt='Brand', src='http://maba-online.nl/socialcoin/logosocialcoin.png')
                    .pull-right
                        a.navbar-brand(href='/')
                            img.navbar-ica-logo(alt='Brand', src='http://maba-online.nl/socialcoin/logo_ica_small.svg')


