include includes/header.pug
.container.theme-showcase(role='main')
    // Main jumbotron for a primary marketing message or call to action
    .page-header
        h1
            | #{gebruiker}
    a.btn.btn-default(href='./walletAanmaken') Wallet genereren
include includes/footer.pug
