extends layout
block content
  
    #area
    script(src='/eureca.js')
    script(src='javascripts/game.js')
  
    p U heeft deze taak al voltooid,
    p nadat een taak voltooid is mag deze niet nog een keer gedaan worden.
