include includes/header.pug
  .container.theme-showcase(role='main')
    // Main jumbotron for a primary marketing message or call to action
    .page-header
      h1
        | SocialCoin | Home
        .pull-right
          button.btn.btn-default(onclick='goBack()') Terug
    .col-md-6
      verbatim !{qrcode}
    .col-md-6
      p Nieuw adres: #{address}
      p Met de volgende permissions: #{permission}

include includes/footer.pug
